In [1]:
import pickle as pkl

In [2]:
datasets = ['wikitables', 'wikibio', 'tanq', 'rotowire']
models = ['llama', 'gpt', 'gemini']

In [3]:
def table_to_dict_list(table_string, suffix=""):
    table_string = table_string.replace("markdown", "")
    # Split the table into lines
    lines = table_string.strip().split('\n')

    # Find the first line that contains the table header (i.e., a line with '|')
    table_start_idx = next(
        (i for i, line in enumerate(lines) if '|' in line), None)

    # If no table is found, return an empty list
    if table_start_idx is None:
        return []

    # Process the header from the detected table start line
    header = lines[table_start_idx].strip().split('|')
    header = [col.strip() for col in header if col.strip()]

    # Prepare the list to hold dictionaries
    table_as_dicts = []

    # Loop through each data row, skipping any separator rows and stopping at ``` or blank lines
    for line in lines[table_start_idx + 1:]:
        # Stop processing if the table ends
        if '```' in line or not line.strip():
            break

        # Skip lines that contain only '---'
        if '---' in line:
            continue

        row_values = line.strip().split('|')
        row_values = [val.strip() for val in row_values if val.strip()]

        # Create a dictionary for the current row, ensuring to match header order with values
        row_dict = {}
        for i in range(len(header)):
            if i < len(row_values):
                row_dict[header[i]] = row_values[i]
            else:
                row_dict[header[i]] = None  # Fill with None if data is missing

        table_as_dicts.append(row_dict)

    return table_as_dicts

In [4]:
import pandas as pd

def get_avg_statistics(scores):
    all_dfs_cells = []
    all_dfs_rc = []
    bad = 0
    for data in scores:
        alignment = table_to_dict_list(data['alignment'])
        if not alignment:
            continue
        n_rows = len(alignment)
        n_cols = len(alignment[0])
        factor = 100 / (n_rows * n_cols)

        # Process cell_stats DataFrame
        df = data['cell_stats']
        numeric_cols = df.select_dtypes(include='number').columns
        df[numeric_cols] = df[numeric_cols].astype(float) * factor
        all_dfs_cells.append(df[numeric_cols].copy())

        # Process row_col_statistics DataFrame
        df_rc = data['row_col_statistics']
        numeric_cols_rc = df_rc.select_dtypes(include='number').columns
        df_rc[numeric_cols_rc] = df_rc[numeric_cols_rc].astype(float)
        df_rc.iloc[0, 1:] = df_rc.iloc[0, 1:] * 100 / n_rows  # Divide first row by n_rows
        df_rc.iloc[1, 1:] = df_rc.iloc[1, 1:] * 100 / n_cols  # Divide second row by n_cols
        all_dfs_rc.append(df_rc[numeric_cols_rc].copy())

    # Calculate average for cell_stats
    df_cells_sum = pd.concat(all_dfs_cells).groupby(level=0).sum()
    df_cells_avg = df_cells_sum / len(all_dfs_cells)

    # Calculate average for row_col_statistics
    df_rc_sum = pd.concat(all_dfs_rc).groupby(level=0).sum()
    df_rc_avg = df_rc_sum / len(all_dfs_rc)

    return df_cells_avg, df_rc_avg

In [5]:

for dataset in datasets:
    for model in models:
        try:
            print("-"*100)
            print(f"MODEL: {model} DATASET: {dataset}\n")
            with open(f'{model}/{dataset}/tabscore_final_modified.pkl', 'rb') as f:
                tabscore = pkl.load(f)
                # print("HI")
            df_cells, df_rc = get_avg_statistics(tabscore)
            print("CELL STATS\n")
            print(df_cells)
            
            print("\n\n")
            print("ROW COL STATS\n")
            print(df_rc)
            print("-"*100)
        except:
            pass

----------------------------------------------------------------------------------------------------
MODEL: llama DATASET: wikitables

CELL STATS

         Numerical     String  Bool      Date  List      Time   Others
EI        0.054107   4.504762   0.0  0.175074   0.0  0.000000  0.12755
MI        0.013333   0.806419   0.0  0.032292   0.0  0.000000  0.00000
Partial   0.217827  24.986072   0.0  0.350714   0.0  0.008125  0.08744



ROW COL STATS

         MI         EI         EM
0  8.788531  15.726743  25.590121
1  0.000000   0.000000   1.675000
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
MODEL: gpt DATASET: wikitables

CELL STATS

         Numerical     String  Bool      Date  List      Time    Others
EI        0.034583   1.185853   0.0  0.015000   0.0  0.000000  0.140417
MI        0.005000   1.093671   0.0  0.003571   0.0  0.000000  0.010000
Partial   0.316131  20.337391   0.0  0.553929   0.0  0.020625  0.097966



ROW COL STATS

          MI         EI         EM
0  24.689663  10.247262  27.112282
1   0.025000   0.000000   1.025000
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
MODEL: gemini DATASET: wikitables

CELL STATS

         Numerical     String  Bool      Date  List      Time    Others
EI        0.020238   2.373463   0.0  0.114226   0.0  0.000000  0.074435
MI        0.000000   0.785565   0.0  0.000000   0.0  0.000000  0.000000
Partial   0.301012  22.501905   0.0  0.481787   0.0  0.021071  0.066310



ROW COL STATS

          MI        EI         EM
0  21.688918  9.788063  26.032105
1   0.000000  0.050000   1.550000
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
MODEL: llama DATASET: wikibio

CELL STATS

         Numerical     String  Bool      Date  List  Time    Others
EI        0.040932   2.844925   0.0  0.086225   0.0   0.0  0.118061
MI        0.022230   0.291824   0.0  0.002083   0.0   0.0  0.001786
Partial   0.161463  14.377064   0.0  2.595897   0.0   0.0  0.032778



ROW COL STATS

          MI         EI         EM
0  25.185194  29.313184  16.173674
1   0.000000   0.000000   0.050000
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
MODEL: gpt DATASET: wikibio

CELL STATS

         Numerical     String  Bool      Date  List  Time    Others
EI        0.037869   2.029449   0.0  0.042830   0.0   0.0  0.087949
MI        0.004191   0.378169   0.0  0.013179   0.0   0.0  0.000000
Partial   0.162547  15.796707   0.0  0.864463   0.0   0.0  0.028913



ROW COL STATS

          MI         EI        EM
0  26.101207  27.588518  19.39308
1   0.000000   0.025000   0.00000
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
MODEL: gemini DATASET: wikibio

CELL STATS

         Numerical     String  Bool      Date  List  Time    Others
EI        0.039849   2.303089   0.0  0.072368   0.0   0.0  0.059089
MI        0.000000   0.367831   0.0  0.005409   0.0   0.0  0.000000
Partial   0.145583  13.592759   0.0  2.969147   0.0   0.0  0.043736



ROW COL STATS

          MI         EI         EM
0  30.119727  24.344691  16.894555
1   0.000000   0.000000   0.000000
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
MODEL: llama DATASET: tanq

CELL STATS

         Numerical     String  Bool      Date      List      Time    Others
EI        0.052390   1.120283   0.0  0.256798  0.112129  0.000000  0.002386
MI        0.020462   0.381968   0.0  0.161701  0.031770  0.036796  0.000000
Partial   2.730443  20.501022   0.0  4.720338  4.822011  2.190368  0.072574



ROW COL STATS

         MI        EI         EM
0  7.818044  3.247430  10.976359
1  1.276839  1.346264  23.896968
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
MODEL: gpt DATASET: tanq

CELL STATS

         Numerical     String  Bool      Date      List      Time   Others
EI        0.024716   0.204746   0.0  0.078246  0.060120  0.009394  0.00000
MI        0.011929   0.175709   0.0  0.092392  0.030299  0.008350  0.00000
Partial   1.277026  11.923445   0.0  3.480745  3.455141  1.320493  0.00501



ROW COL STATS

         MI        EI         EM
0  8.932133  1.500169  13.002502
1  0.389509  0.158651  22.429365
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
MODEL: gemini DATASET: tanq

CELL STATS

         Numerical    String  Bool      Date      List      Time    Others
EI        0.000000  0.458262   0.0  0.099921  0.028715  0.002032  0.002395
MI        0.087549  0.556847   0.0  0.148790  0.038205  0.023354  0.000000
Partial   1.219389  9.346153   0.0  2.016590  2.638996  1.119595  0.016691



ROW COL STATS

         MI        EI         EM
0  8.480766  2.054833  13.017054
1  1.187761  0.353789  21.782510
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
MODEL: llama DATASET: rotowire

CELL STATS

         Numerical    String  Bool  Date  List  Time    Others
EI        1.885052  0.958330   0.0   0.0   0.0   0.0  0.050054
MI        1.968145  0.491348   0.0   0.0   0.0   0.0  0.063664
Partial   0.660330  0.918562   0.0   0.0   0.0   0.0  0.000000



ROW COL STATS

         MI         EI         EM
0  0.000000   0.087418  17.621644
1  8.900299  14.849486  52.702708
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
MODEL: gpt DATASET: rotowire

CELL STATS

         Numerical    String  Bool  Date      List      Time    Others
EI        1.737037  0.640654   0.0   0.0  0.000442  0.003595  0.000000
MI        2.739706  0.201654   0.0   0.0  0.000000  0.000000  0.039879
Partial   0.306165  0.694731   0.0   0.0  0.000000  0.000000  0.000000



ROW COL STATS

         MI        EI         EM
0  0.000000  0.005889  38.417330
1  9.045181  3.760460  60.248242
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
MODEL: gemini DATASET: rotowire

CELL STATS

         Numerical    String  Bool  Date  List  Time    Others
EI        2.133129  0.916795   0.0   0.0   0.0   0.0  0.188143
MI        2.081663  0.494399   0.0   0.0   0.0   0.0  0.030026
Partial   2.718227  3.870966   0.0   0.0   0.0   0.0  0.030554



ROW COL STATS

          MI        EI         EM
0   0.035411  0.129839  13.809253
1  13.913524  9.742870  48.512225
----------------------------------------------------------------------------------------------------

In [11]:
import json

In [31]:
with  open("/home/turning/Jainit/TANQ/EVALUATION_OF_MODELS/llama/wikitables/input_tables_for_score.json") as f:
    data = json.load(f)

In [37]:
row_differences = []
for t in data: 
    rows1 = len(data[t][0].split('\n'))
    rows2 = len(data[t][1].split('\n'))
    
    print("_"*100)
    print("\n\n")
    
    print(f"TABLE:\n{data[t][0]}")
    print("\n\n")
    print(f"TABLE:\n{data[t][1]}")
    print("\n\n")
    
    print(f"ROW DIFFERENCE: {abs(rows1 - rows2)}")
    print("\n\n")
    print("_"*100)
    row_differences.append(abs(rows1 - rows2)/max(rows1, rows2))

____________________________________________________________________________________________________



TABLE:
| Field    | Value                        |
|:---------|:-----------------------------|
| title    | portuguese heritage society  |
| subtitle | other activities             |
| name     | michelle schimel             |
| office   | new york state assemblywoman |



TABLE:
| Field    | Value                        |
|:---------|:-----------------------------|
| title    | portuguese heritage society  |
| subtitle | other activities             |
| name     | michelle schimel             |
| office   | new york state assemblywoman |



ROW DIFFERENCE: 0



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field    | Value                    |
|:---------|:-------------------------|
| subtitle | football                 |
| team     | southwest missouri state |
| season   | 1982-1984                |



TABLE:
| Field    | Value                    |
|:---------|:-------------------------|
| subtitle | college football history |
| name     | southwest missouri state |
| years    | 1982-1984                |



ROW DIFFERENCE: 0



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field                 | Value                   |
|:----------------------|:------------------------|
| title                 | sonia gandhi            |
| subtitle              | honours and recognition |
| year                  | 2006                    |
| name                  | order of king leopold   |
| awarding organisation | government of belgium   |



TABLE:
| Field    | Value                 |
|:---------|:----------------------|
| title    | belgian honour        |
| subtitle | order of king leopold |
| name     | sonia gandhi          |
| year     | 2006                  |
| country  | belgium               |



ROW DIFFERENCE: 0



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field    | Value         |
|:---------|:--------------|
| title    | emmanuel jal  |
| subtitle | filmography   |
| year     | 2010          |
| film     | africa united |
| role     | tulu          |



TABLE:
| Field     | Value         |
|:----------|:--------------|
| title     | africa united |
| subtitle  | film career   |
| name      | emmanuel jal  |
| character | tulu          |
| year      | 2010          |



ROW DIFFERENCE: 0



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field    | Value                               |
|:---------|:------------------------------------|
| title    | mississippi state bulldogs baseball |
| subtitle | bulldogs in the ncaa tournament     |
| year     | 2013                                |
| opponent | virginia                            |
| site     | charlottesville, va                 |



TABLE:
| Field    | Value                      |
|:---------|:---------------------------|
| title    | baseball                   |
| subtitle | ncaa tournament            |
| team     | mississippi state bulldogs |
| opponent | virginia                   |
| year     | 2013                       |
| location | charlottesville, va        |



ROW DIFFERENCE: 1



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field   | Value             |
|:--------|:------------------|
| event   | men's downhill    |
| athlete | jeremy bujakowski |
| age     | 28                |
| finish  | 53                |



TABLE:
| Field    | Value             |
|:---------|:------------------|
| title    | men's downhill    |
| name     | jeremy bujakowski |
| age      | 28                |
| position | 53                |



ROW DIFFERENCE: 0



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field      | Value                                        |
|:-----------|:---------------------------------------------|
| title      | minneapolis–saint paul international airport |
| subtitle   | statistics                                   |
| year       | 2006                                         |
| passengers | 35,612,133                                   |



TABLE:
| Field      | Value                                        |
|:-----------|:---------------------------------------------|
| title      | minneapolis–saint paul international airport |
| subtitle   | annual passenger traffic                     |
| year       | 2006                                         |
| passengers | 35,612,133                                   |



ROW DIFFERENCE: 0



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field    | Value                       |
|:---------|:----------------------------|
| subtitle | list of secretaries general |
| name     | alfred cahen                |
| years    | 1985–1989                   |



TABLE:
| Field    | Value                       |
|:---------|:----------------------------|
| subtitle | list of secretaries general |
| name     | alfred cahen                |
| years    | 1985–1989                   |



ROW DIFFERENCE: 0



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field        | Value                  |
|:-------------|:-----------------------|
| subtitle     | fake blood discography |
| year         | 2010                   |
| title        | "i think i like it"    |
| release date | 4 august 2010          |



TABLE:
| Field        | Value               |
|:-------------|:--------------------|
| title        | song title          |
| subtitle     | release information |
| name         | i think i like it   |
| release date | 4 august 2010       |



ROW DIFFERENCE: 0



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field    | Value                     |
|:---------|:--------------------------|
| title    | voyageurs cup             |
| subtitle | past winners              |
| year     | 2005                      |
| winners  | vancouver whitecaps women |



TABLE:
| Field    | Value                     |
|:---------|:--------------------------|
| title    | voyageurs cup             |
| subtitle | winners                   |
| year     | 2005                      |
| team     | vancouver whitecaps women |



ROW DIFFERENCE: 0



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field              | Value                |
|:-------------------|:---------------------|
| subtitle           | environmental impact |
| year               | 1998                 |
| amount             | unknown              |
| substance released | acid rock drainage   |



TABLE:
| Field    | Value              |
|:---------|:-------------------|
| title    | acid rock drainage |
| subtitle | substance release  |
| location | bingham canyon min |
| year     | 1998               |
| amount   | unknown            |



ROW DIFFERENCE: 1



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field         | Value             |
|:--------------|:------------------|
| title         | far beyond driven |
| subtitle      | certifications    |
| certification | platinum          |
| date          | november 21, 1995 |



TABLE:
| Field    | Value               |
|:---------|:--------------------|
| title    | certification       |
| subtitle | music certification |
| name     | platinum            |
| status   | driven              |
| date     | november 21, 1995   |



ROW DIFFERENCE: 1



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field            | Value                              |
|:-----------------|:-----------------------------------|
| title            | youngstown–warren regional airport |
| subtitle         | passenger traffic                  |
| year             | 2015                               |
| total passengers | 129,000                            |



TABLE:
| Field            | Value                              |
|:-----------------|:-----------------------------------|
| category         | statistics                         |
| name             | youngstown–warren regional airport |
| year             | 2015                               |
| total passengers | 129,000                            |



ROW DIFFERENCE: 0



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field    | Value               |
|:---------|:--------------------|
| subtitle | election results    |
| name     | tony mcconkey, rep. |
| votes    | 16,157              |



TABLE:
| Field   | Value            |
|:--------|:-----------------|
| title   | election results |
| name    | tony mcconkey    |
| office  | rep.             |
| votes   | 16,157           |



ROW DIFFERENCE: 1



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field                     | Value                     |
|:--------------------------|:--------------------------|
| subtitle                  | list of aba championships |
| year                      | 1971-72                   |
| western division champion | indiana pacers            |
| eastern division champion | new york nets             |
| playoffs mvp              | freddie lewis g, indiana  |



TABLE:
| Field            | Value                    |
|:-----------------|:-------------------------|
| title            | 1971-72 aba championship |
| subtitle         | division champions       |
| western division | indiana pacers           |
| eastern division | new york nets            |
| name             | freddie lewis            |
| team             | indiana pacers           |
| position         | g                        |
| award            | playoffs mvp             |



ROW DIFFERENCE: 3



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field         | Value             |
|:--------------|:------------------|
| subtitle      | 125th anniversary |
| player        | colin boulton     |
| position      | goalkeeper        |
| years at club | 1964-78           |



TABLE:
| Field    | Value            |
|:---------|:-----------------|
| title    | football career  |
| subtitle | playing position |
| name     | colin boulton    |
| position | goalkeeper       |
| years    | 1964-78          |



ROW DIFFERENCE: 1



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field    | Value                  |
|:---------|:-----------------------|
| title    | lynne littman          |
| subtitle | awards and nominations |
| award    | cine golden eagle      |
| year     | 1982                   |
| film     | running my way         |
| result   | nominated              |



TABLE:
| Field    | Value             |
|:---------|:------------------|
| title    | award             |
| subtitle | nominations       |
| name     | lynne littman     |
| award    | cine golden eagle |
| film     | running my way    |
| year     | 1982              |



ROW DIFFERENCE: 0



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field    | Value             |
|:---------|:------------------|
| subtitle | championships     |
| year     | 1941–42           |
| champion | oshkosh all-stars |



TABLE:
| Field    | Value             |
|:---------|:------------------|
| title    | champion team     |
| subtitle | list of champions |
| name     | oshkosh all-stars |
| years    | 1941–42           |
| team     | oshkosh all-stars |



ROW DIFFERENCE: 2



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field           | Value                      |
|:----------------|:---------------------------|
| title           | 2005 houston astros season |
| subtitle        | regular season             |
| date            | may 20                     |
| winning team    | texas                      |
| winning pitcher | kenny rogers               |
| losing pitcher  | brandon backe              |
| location        | arlington                  |



TABLE:
| Field           | Value                      |
|:----------------|:---------------------------|
| category        | 2005 houston astros season |
| subtitle        | game results               |
| date            | may 20                     |
| location        | arlington                  |
| winning team    | texas                      |
| losing team     | astros                     |
| winning pitcher | kenny rogers               |
| losing pitcher  | brandon backe              |



ROW DIFFERENCE: 1



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field    | Value          |
|:---------|:---------------|
| title    | sanya          |
| subtitle | sister cities  |
| country  | united kingdom |
| city     | blackpool      |
| date     | 2016.09.06     |



TABLE:
| Field       | Value                   |
|:------------|:------------------------|
| title       | sister cities           |
| subtitle    | international relations |
| city        | sanya                   |
| sister city | blackpool               |
| country     | united kingdom          |
| date        | 2016.09.06              |



ROW DIFFERENCE: 1



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field    | Value             |
|:---------|:------------------|
| title    | shindong          |
| subtitle | hosting programs  |
| date     | 2012              |
| name     | shinhwa broadcast |
| network  | jtbc              |



TABLE:
| Field    | Value             |
|:---------|:------------------|
| title    | shinhwa broadcast |
| subtitle | hosting           |
| name     | shindong          |
| year     | 2012              |
| network  | jtbc              |



ROW DIFFERENCE: 0



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field      | Value          |
|:-----------|:---------------|
| title      | tautona mine   |
| subtitle   | production     |
| year       | 2013           |
| production | 235,000 ounces |



TABLE:
| Field    | Value           |
|:---------|:----------------|
| category | production      |
| subtitle | gold production |
| name     | tautona mine    |
| year     | 2013            |
| amount   | 235,000 ounces  |



ROW DIFFERENCE: 1



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field      | Value         |
|:-----------|:--------------|
| title      | eric heiden   |
| subtitle   | world records |
| discipline | 3000 m        |
| date       | march 2, 1978 |



TABLE:
| Field    | Value           |
|:---------|:----------------|
| title    | event           |
| subtitle | athletic career |
| name     | eric heiden     |
| distance | 3000 m          |
| date     | march 2, 1978   |



ROW DIFFERENCE: 1



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field    | Value      |
|:---------|:-----------|
| subtitle | sports     |
| year     | 2015       |
| school   | kent state |



TABLE:
| Field    | Value                    |
|:---------|:-------------------------|
| title    | mid-american conference  |
| subtitle | champion                 |
| name     | the school of kent state |
| year     | 2015                     |



ROW DIFFERENCE: 1



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field      | Value                       |
|:-----------|:----------------------------|
| subtitle   | attendance                  |
| attendance | 7,420                       |
| game       | torpan pojat – espoon honka |



TABLE:
| Field      | Value        |
|:-----------|:-------------|
| category   | football     |
| subtitle   | attendance   |
| team1      | torpan pojat |
| team2      | espoon honka |
| attendance | 7,420        |



ROW DIFFERENCE: 2



____________________________________________________________________________________________________
____________________________________________________________________________________________________



TABLE:
| Field    | Value                          |
|:---------|:-------------------------------|
| subtitle | preseason                      |
| date     | august 5                       |
| opponent | dallas cowboys at tokyo, japan |



TABLE:
| Field    | Value               |
|:---------|:--------------------|
| title    | american football   |
| subtitle | international games |
| team     | dallas cowboys      |
| location | tokyo, japan        |
| date     | august 5            |
| result   | lost                |



ROW DIFFERENCE: 3




In [38]:
row_differences = sum(row_differences)/len(row_differences)

In [39]:
(row_differences)*100

12.49077110389599