In [2]:
import pickle as pkl

In [3]:
with open("results_wikiBio_llama.pickle", "rb") as f:
    pred = pkl.load(f)

In [6]:
import json 

with open("/home/turning/Jainit/TANQ/EVALUATION_OF_MODELS/gemini/wikibio/top_tables_wiki.json", "r") as f:
    data = json.load(f)

In [7]:
gt_tables_dict = {}
for tables in data:
    for k, v in tables.items():
        gt_tables_dict[k] = v

In [9]:
pred_tables = {}
for k in pred:
    for i, j in k.items():
        pred_tables[i] = j

In [10]:
len(gt_tables_dict), len(pred_tables)

(2000, 2000)

In [13]:
import re
import pandas as pd
def extract_table(raw_text):
    """
    Extracts a table from a raw text string which may be in one of several formats:
    - Plain text with code fences (e.g., starting with ```text and ending with ```)
    - A JSON string that contains a "result" key with a table string, possibly wrapped in triple quotes.
    
    The table rows are expected to be separated by the literal "<NEWLINE>" token,
    and each row is a pipe-separated list of fields.
    """
    text = raw_text.strip()
    
    # --- Step 1. If the input is JSON, extract the "result" field ---
    try:
        parsed = json.loads(text)
        if isinstance(parsed, dict) and "result" in parsed:
            text = parsed["result"]
    except json.JSONDecodeError:
        # Not valid JSON, so assume it's a plain string
        pass

    # --- Step 2. Remove markdown code fences if present ---
    # Remove starting fence like ```text (or any language) and the ending ```
    text = re.sub(r'^```(?:[^\n]*)\n', '', text)
    text = re.sub(r'\n```$', '', text)

    # --- Step 3. Remove extra triple quotes if present ---
    text = text.strip()
    if text.startswith('"""') and text.endswith('"""'):
        text = text[3:-3].strip()

    # --- Step 4. Split the string into rows using the <NEWLINE> token ---
    if "<NEWLINE>" in text:
        rows = text.split("<NEWLINE>")
    else:
        rows = text.split("\n")
    records = []
    for row in rows:
        row = row.strip()
        if not row:
            continue
        # Remove any leading/trailing pipes and split on "|"
        # Then filter out any empty strings after stripping whitespace
        parts = [p.strip() for p in row.strip('|').split("|") if p.strip()]
        if len(parts) >= 2:
            key = parts[0]
            # In case there are additional tokens, join them with " | " to preserve inner separators.
            value = " | ".join(parts[1:])
            records.append((key, value))
    
    # --- Step 5. Create a DataFrame from the records ---
    df = pd.DataFrame(records, columns=["Field", "Value"])
    return df

# --- Example 1: Table wrapped in a markdown code fence ---
raw_data2 = """```text\n| name | john \"jack\" reynolds | <NEWLINE> | birth date | 21 february 1869 | <NEWLINE> | death date | 12 march 1917 | <NEWLINE> | clubs | west bromwich albion, aston villa, celtic, southampton | <NEWLINE> | international appearances | ireland (5), england (8) | <NEWLINE> | honours | FA Cup (1892 with West Bromwich Albion), English League titles (3 with Aston Villa), FA Cups (2 with Aston Villa) | <NEWLINE> | death place | sheffield |\n```\n"""
# --- Example 2: JSON string containing the table in the "result" key ---
raw_data1 = """| death place | sheffield, england | <NEWLINE> | name | jack reynolds | <NEWLINE> | death date | 12 march 1917 | <NEWLINE> | birth date | 21 february 1869 | <NEWLINE> | fullname | john reynolds |"""

# --- Parse and display the tables ---
df1 = extract_table(raw_data1)
df2 = extract_table(raw_data2)

print("Table from Example 1:")
print(df1.to_markdown(index=False))
print("\nTable from Example 2:")
print(df2.to_markdown(index=False))

Table from Example 1:
| Field       | Value              |
|:------------|:-------------------|
| death place | sheffield, england |
| name        | jack reynolds      |
| death date  | 12 march 1917      |
| birth date  | 21 february 1869   |
| fullname    | john reynolds      |

Table from Example 2:
| Field                     | Value                                                                                                             |
|:--------------------------|:------------------------------------------------------------------------------------------------------------------|
| name                      | john "jack" reynolds                                                                                              |
| birth date                | 21 february 1869                                                                                                  |
| death date                | 12 march 1917                                                                                                     |
| clubs                     | west bromwich albion, aston villa, celtic, southampton                                                            |
| international appearances | ireland (5), england (8)                                                                                          |
| honours                   | FA Cup (1892 with West Bromwich Albion), English League titles (3 with Aston Villa), FA Cups (2 with Aston Villa) |
| death place               | sheffield                                                                                                         |

In [16]:
input_tables = {}
for k, v in gt_tables_dict.items():
    input_tables[k] = [extract_table(v).to_markdown(index= False), extract_table(pred_tables[k]).to_markdown(index= False)]

In [25]:
json.dump(input_tables, open("input_tables_for_score.json", "w"), indent= 4)

In [26]:
print(input_tables["38008"][0])

| Field         | Value                                                                         |
|:--------------|:------------------------------------------------------------------------------|
| office        | member of the south carolina house of representatives from spartanburg county |
| rank          | captain                                                                       |
| birth place   | spartanburg, south carolina                                                   |
| resting place | spartanburg, south carolina                                                   |
| state         | south carolina                                                                |
| term end      | march 3, 1921                                                                 |
| branch        | south carolina national guard                                                 |
| alma mater    | wofford college virginia polytechnic institute university of chicago          |
| predecessor   | joseph t. johnson                                                             |
| death place   | spartanburg, south carolina                                                   |
| commands      | company i, first infantry regiment                                            |
| term start    | september 14, 1915                                                            |
| name          | samuel jones nicholls                                                         |
| death date    | 23 november 1937                                                              |

In [27]:
print(input_tables["38008"][1])

| Field        | Value                                                                                              |
|:-------------|:---------------------------------------------------------------------------------------------------|
| birth place  | spartanburg, south carolina                                                                        |
| death date   | november 23, 1937                                                                                  |
| name         | samuel jones nicholls                                                                              |
| birth date   | may 7, 1885                                                                                        |
| occupation   | united states representative, lawyer                                                               |
| death place  | spartanburg, south carolina                                                                        |
| residence    | south carolina                                                                                     |
| party        | democrat                                                                                           |
| constituency | south carolina                                                                                     |
| education    | bingham military institute, wofford college, virginia polytechnic institute, university of chicago |
| burial place | west oakwood cemetery                                                                              |

In [20]:
input_tables.keys()

dict_keys(['41536', '5325', '43823', '38008', '34967', '39863', '43653', '67856', '55424', '27670', '58162', '11950', '9989', '9894', '26281', '30985', '55350', '40585', '5321', '33912', '50486', '62462', '5001', '55254', '27010', '31640', '58753', '33066', '37405', '33883', '67942', '15243', '58170', '67430', '27632', '45067', '49639', '52586', '66175', '43046', '11318', '16411', '18060', '50655', '61108', '9140', '61164', '3219', '71029', '4702', '59467', '10460', '55907', '65942', '19340', '67976', '526', '58128', '35267', '21334', '71559', '49299', '71347', '55732', '12145', '25707', '46465', '69927', '70387', '71953', '13023', '12114', '28870', '53028', '71152', '55327', '63033', '3406', '38249', '54615', '55546', '24391', '33079', '26324', '71180', '23599', '68468', '69206', '36162', '44910', '10741', '53281', '26583', '17150', '57578', '45932', '39711', '57206', '15789', '66643', '45933', '11860', '25889', '47013', '22247', '25196', '15425', '53086', '25989', '28121', '18638', '15379', '14884', '27166', '29742', '9161', '20281', '28995', '50040', '62643', '50703', '4573', '26361', '30194', '35174', '37094', '70590', '15970', '3696', '39009', '43855', '62094', '72153', '31691', '6814', '8047', '53681', '64345', '37571', '53661', '71119', '22231', '35599', '55481', '70655', '45700', '385', '41944', '56391', '9144', '22078', '58280', '35721', '46697', '32277', '53383', '68928', '71621', '29862', '49066', '52532', '69212', '23052', '27072', '33945', '41615', '60471', '14123', '44669', '57438', '13867', '70116', '4474', '31698', '53892', '48340', '59177', '31933', '69924', '36248', '10768', '22521', '42516', '58905', '65474', '12211', '14513', '41358', '54820', '67230', '47149', '55389', '12184', '8493', '23696', '38570', '67264', '67138', '43033', '44402', '60153', '68444', '14646', '2444', '50950', '54341', '66380', '67400', '20737', '32900', '36339', '27150', '31119', '12847', '17053', '17307', '24251', '36598', '46426', '54695', '59779', '69833', '23121', '56259', '6865', '15219', '25136', '42002', '42501', '59684', '64168', '3428', '35946', '36214', '40040', '61449', '62641', '44126', '41829', '10158', '20008', '35211', '44570', '50553', '67776', '68517', '4895', '57098', '57305', '61662', '62467', '8537', '30113', '35810', '37152', '40342', '63562', '25642', '28942', '71105', '1299', '2309', '7995', '26651', '35005', '44528', '48127', '39927', '56913', '1639', '12106', '39779', '9691', '38952', '48136', '52704', '171', '52720', '66681', '72633', '713', '25385', '65981', '21732', '69767', '7297', '27722', '42012', '32841', '36105', '55941', '56730', '59387', '60599', '64089', '67172', '2281', '5513', '12401', '656', '17613', '28778', '2588', '7226', '30561', '30811', '40862', '48149', '49164', '1015', '22477', '24418', '30707', '38882', '48453', '69433', '23087', '9491', '18552', '36243', '43340', '1476', '3709', '5898', '13345', '14606', '15477', '20859', '35689', '38258', '67', '57876', '31467', '48674', '65720', '67020', '35638', '36107', '36974', '39822', '53394', '70802', '13610', '32580', '50435', '60719', '726', '10279', '19362', '45416', '51306', '71151', '632', '5180', '6166', '6819', '8317', '13923', '15957', '16461', '26167', '39532', '45553', '49206', '54352', '38370', '7424', '31602', '38797', '48381', '49795', '71032', '23271', '29503', '30222', '39885', '66740', '27007', '38215', '67643', '1860', '6100', '21351', '25731', '31999', '33191', '52572', '53838', '67394', '72322', '3697', '5799', '6950', '10944', '11175', '34601', '34884', '69095', '72545', '16571', '17921', '33299', '40398', '47356', '65157', '7229', '11116', '30570', '30966', '36513', '43194', '43955', '48821', '49466', '60898', '71568', '2221', '29656', '45632', '57200', '67576', '806', '16235', '38573', '44737', '61866', '62105', '64182', '13132', '15675', '20881', '29441', '42541', '47479', '65079', '65368', '5726', '7191', '9416', '10513', '22048', '24075', '26381', '39707', '54338', '55178', '3072', '14601', '20263', '47386', '8072', '62738', '67111', '3379', '11608', '14508', '16623', '44927', '50502', '52486', '58401', '63561', '63572', '1880', '4018', '24520', '50672', '61685', '9853', '10016', '13089', '21505', '24870', '25696', '40283', '43652', '48411', '50551', '52324', '54057', '2777', '2841', '23344', '26199', '37985', '11851', '23486', '25892', '44385', '55868', '56360', '58659', '60653', '2899', '8950', '19812', '22066', '27800', '47015', '230', '8170', '8559', '27997', '32193', '36022', '37355', '40426', '43842', '341', '14576', '20849', '28206', '32721', '56499', '65937', '67483', '67529', '67927', '70589', '11402', '39332', '41456', '42967', '57482', '61460', '71204', '5269', '40425', '43604', '53186', '64205', '66561', '2243', '10563', '11943', '14202', '14710', '17641', '22798', '27591', '35749', '36814', '40992', '48528', '51872', '57602', '60056', '68318', '70203', '2653', '10169', '14507', '20583', '20891', '26783', '28433', '29645', '49577', '54239', '13573', '15026', '19439', '29409', '29952', '36986', '44524', '19702', '37137', '54318', '68736', '5755', '10754', '22414', '29400', '47337', '52671', '54651', '55314', '56351', '57917', '63374', '66571', '72022', '8715', '16371', '24585', '38199', '39762', '40316', '59589', '11052', '11339', '39628', '46380', '47790', '57054', '68555', '71035', '500', '2666', '9260', '13495', '13832', '14109', '31181', '37936', '38198', '47990', '67158', '70452', '3692', '8478', '14911', '33042', '33421', '36877', '51211', '140', '11836', '12353', '15215', '15231', '22122', '22415', '22821', '23819', '35149', '39857', '46865', '59536', '63851', '63953', '68141', '71495', '377', '10234', '20169', '38907', '39201', '43549', '48490', '62410', '70849', '71647', '22095', '38110', '43710', '46749', '50516', '58060', '7466', '19917', '21689', '42987', '50901', '51225', '58869', '63015', '63563', '10126', '18004', '26721', '28208', '38611', '40613', '47539', '48549', '53026', '56260', '58195', '59270', '59682', '3160', '7465', '10524', '12904', '15890', '23222', '33417', '44185', '71713', '6944', '7464', '12762', '13505', '21277', '24485', '26246', '41444', '43859', '45948', '48215', '62823', '66502', '1140', '3501', '6764', '9205', '19595', '20461', '30142', '35608', '38622', '40678', '50262', '51532', '62490', '71383', '1619', '3196', '5307', '30173', '49764', '53202', '63488', '66122', '68625', '3394', '15277', '17612', '21315', '27642', '29963', '35494', '41271', '53583', '54537', '58130', '66453', '4529', '5696', '14375', '22874', '50603', '58621', '69347', '181', '3520', '20579', '20926', '25361', '29476', '31350', '39242', '49084', '50426', '61516', '61759', '71154', '1803', '3365', '8939', '17453', '32428', '32741', '34605', '36387', '46817', '53288', '62318', '64088', '69389', '527', '16373', '21916', '30527', '38719', '52493', '69117', '1622', '2061', '16817', '24952', '52756', '58474', '64006', '67670', '3180', '44175', '49155', '49376', '51403', '61166', '61960', '68833', '5775', '20057', '36341', '48903', '61375', '70998', '71597', '106', '1237', '8797', '28839', '36865', '45855', '51669', '52661', '69557', '823', '1235', '6059', '16926', '22910', '27536', '27939', '31857', '39334', '42177', '48799', '49277', '57278', '60620', '69517', '9083', '15637', '17816', '25188', '26621', '29251', '31562', '31664', '43854', '48755', '51639', '53078', '63772', '64780', '67627', '8994', '10019', '14439', '14697', '16492', '19392', '30141', '30176', '35670', '38269', '43913', '45706', '51128', '55095', '55810', '71464', '1066', '8121', '24857', '27334', '30450', '40023', '40031', '57718', '64559', '66018', '1569', '4329', '14768', '16023', '17845', '17887', '19400', '24487', '24584', '32570', '32804', '37708', '46225', '60138', '66140', '68805', '69451', '5198', '14458', '15740', '15911', '18445', '19204', '19624', '20181', '27567', '28810', '33158', '44038', '50432', '52352', '53336', '59062', '63066', '68879', '69027', '69168', '72624', '6823', '10213', '15805', '16656', '18891', '23215', '26682', '29342', '33083', '45110', '48620', '56609', '2163', '23255', '28950', '32358', '32685', '47442', '53528', '58549', '60134', '64016', '64533', '68859', '70873', '4505', '5492', '10507', '13365', '22292', '30243', '45786', '48929', '72098', '2963', '7150', '8233', '25772', '27824', '36779', '37762', '62371', '67119', '68186', '3859', '4927', '5769', '6240', '13987', '23355', '30714', '31519', '37538', '39086', '46444', '49345', '53841', '57152', '57360', '71171', '8378', '19225', '23544', '25109', '25158', '31382', '34578', '47697', '51823', '57439', '62374', '64178', '69910', '71054', '8257', '11733', '15310', '15738', '27083', '34179', '35287', '43835', '66346', '67275', '68514', '6053', '11510', '15852', '16008', '18642', '22654', '30232', '32575', '60938', '64989', '67592', '70780', '628', '2330', '3524', '6285', '7204', '9506', '15529', '16990', '34030', '55426', '60042', '62615', '2979', '15403', '33524', '35919', '37432', '54894', '68210', '71446', '71934', '1941', '7768', '13961', '24197', '30531', '37565', '39683', '45482', '46154', '46324', '51996', '52078', '52383', '54393', '58908', '60140', '67591', '68919', '71555', '71563', '9340', '11075', '18345', '19318', '38522', '60176', '68198', '70342', '70591', '14534', '18163', '24357', '25481', '27280', '28455', '36852', '37441', '39304', '47849', '51138', '57811', '65623', '1249', '13866', '22358', '27177', '34603', '46927', '46936', '55673', '3226', '8663', '9593', '14615', '22280', '30062', '35030', '36896', '38662', '42316', '44696', '45822', '48167', '48760', '51621', '57521', '58225', '62059', '64316', '65315', '20781', '22002', '25660', '34528', '35401', '41338', '41525', '43546', '54878', '55086', '62819', '65095', '5131', '7775', '17502', '19601', '19879', '21299', '28756', '46213', '49079', '50053', '52385', '52580', '53365', '55320', '59725', '82', '5628', '6878', '11043', '17214', '29659', '31042', '33245', '35830', '37200', '38725', '45436', '47027', '49649', '62269', '62701', '64713', '67933', '810', '4367', '8221', '9399', '12427', '12695', '26497', '26777', '29902', '34825', '35107', '40829', '44382', '47429', '48280', '61324', '67679', '70985', '4307', '7437', '10772', '11246', '19026', '26836', '28150', '28465', '29380', '31419', '33967', '34399', '38943', '39875', '45027', '50179', '51711', '52329', '56793', '58201', '62205', '63212', '71057', '71518', '11317', '16608', '25298', '26332', '26663', '28781', '30663', '31206', '33908', '46989', '52785', '52877', '56619', '63111', '66128', '68386', '71656', '6682', '8933', '8956', '12569', '15660', '16744', '19102', '23663', '27913', '30385', '31880', '39934', '40292', '40336', '42329', '44800', '45383', '45873', '47300', '55685', '57053', '59243', '60819', '65286', '68618', '7874', '10449', '15858', '16306', '18176', '23933', '25238', '29692', '31506', '35724', '41925', '46844', '53421', '66087', '69114', '70295', '1194', '4258', '4429', '10453', '14234', '15107', '23513', '25156', '30384', '32615', '41655', '46424', '47028', '52635', '54067', '54771', '55583', '58788', '60423', '60968', '63093', '3198', '20212', '21178', '21974', '25879', '31621', '33424', '42872', '48160', '51796', '52389', '54517', '55129', '62139', '68626', '5083', '6362', '11863', '13269', '15551', '23064', '29839', '35212', '41344', '42194', '52464', '53438', '53768', '54514', '54583', '56128', '67044', '72264', '3309', '4155', '8488', '13102', '21568', '21934', '25403', '30815', '33358', '40403', '44968', '45123', '52588', '55047', '60206', '60723', '66333', '67438', '71877', '14232', '15532', '15876', '19570', '28421', '36247', '37036', '49597', '52071', '55801', '56489', '60633', '62230', '68725', '71827', '6333', '10682', '12618', '16018', '19226', '26767', '27318', '31998', '41439', '52484', '56256', '61733', '62393', '64092', '66847', '67898', '68412', '71747', '72612', '10351', '10602', '18896', '19438', '22350', '26916', '33996', '38972', '44092', '44534', '45715', '52547', '53551', '55780', '58353', '59446', '62206', '63533', '65202', '67665', '67697', '3877', '4768', '5807', '7216', '13853', '14086', '15398', '18771', '24249', '30476', '43476', '45174', '45730', '48892', '61740', '61823', '63100', '68707', '1531', '5266', '13025', '13068', '28910', '37271', '37619', '38693', '47537', '47910', '53095', '58792', '60347', '62441', '65906', '65959', '71216', '1399', '6896', '8535', '10191', '10557', '11664', '11761', '15733', '33886', '37963', '42926', '47219', '50722', '51810', '54460', '58486', '63041', '8943', '9189', '13182', '13766', '15700', '19277', '19567', '21107', '24516', '28127', '28909', '30786', '31600', '32610', '39955', '40616', '45725', '46288', '55782', '64375', '64883', '335', '871', '3623', '20788', '24900', '26408', '27038', '27673', '31047', '34592', '38908', '41847', '42988', '44671', '56407', '57449', '62068', '64258', '68267', '69351', '71604', '72279', '756', '3892', '6087', '13839', '16539', '24625', '26047', '34292', '34718', '44115', '45343', '46711', '50260', '54242', '55715', '65700', '70711', '3029', '11888', '15553', '16593', '19810', '21878', '21979', '27734', '29310', '29560', '30852', '32765', '34326', '38162', '44474', '49774', '50414', '51605', '56400', '57454', '60555', '61371', '67838', '67967', '70445', '72600', '5918', '14781', '16551', '17561', '25555', '26607', '27899', '31218', '37773', '45300', '47434', '49100', '52364', '56156', '56812', '57651', '59808', '60640', '68756', '69051', '69507', '12107', '21467', '27826', '29697', '31669', '47958', '49391', '54840', '54964', '62655', '67078', '68272', '3285', '4665', '6964', '15540', '19327', '25850', '26740', '33203', '35192', '39306', '39741', '40565', '41006', '43528', '43531', '48658', '62388', '62574', '62763', '64238', '66555', '67446', '2021', '7861', '10816', '13648', '20706', '28557', '34383', '38860', '40086', '41341', '43474', '43695', '49864', '52200', '54283', '55606', '58483', '61770', '62155', '65379', '67274', '2862', '9735', '20784', '21121', '27228', '30828', '31923', '33861', '37955', '38452', '41658', '48902', '50881', '51015', '51249', '53930', '54466', '58476', '59759', '64850', '68821', '70448', '71323', '71701', '1571', '1766', '3007', '4003', '4091', '11519', '13050', '14116', '15749', '20733', '21661', '22290', '22429', '35000', '38333', '38427', '42856', '44663', '48355', '62266', '62784', '65243', '1405', '1680', '2152', '2676', '2932', '6033', '7635', '10605', '13153', '13765', '17338', '17820', '19471', '23258', '23296', '26132', '29365', '32659', '40808', '43268', '44102', '45274', '47157', '56970', '57009', '62333', '62743', '62842', '63472', '68794', '68830', '71576', '71833', '257', '1354', '12791', '18260', '23482', '23764', '25658', '27327', '27549', '28240', '34428', '39386', '39817', '43645', '45335', '45597', '46139', '57392', '58682', '61342', '62310', '62353', '69637', '72172', '1202', '3172', '13692', '17113', '18364', '21123', '31963', '32548', '36444', '38523', '39778', '40372', '40460', '41924', '42403', '46877', '51580', '52235', '60449', '60811', '67307', '68367', '71214', '306', '2207', '4863', '5100', '9752', '17050', '17186', '18877', '22752', '24436', '28522', '32904', '38176', '41281', '41478', '44935', '47657', '49106', '50577', '51582', '58509', '61306', '62680', '63619', '65662', '6174', '6218', '8063', '9575', '10869', '16303', '18072', '32438', '32526', '32875', '34218', '35650', '40993', '43616', '45375', '47759', '48283', '58677', '61946', '63799', '66546', '67905', '69587', '72122', '5594', '9666', '10842', '11396', '17992', '19101', '24071', '25177', '26605', '26723', '26822', '28715', '30844', '35680', '36355', '38145', '40076', '40973', '42411', '43771', '44722', '48190', '50624', '53500', '53523', '53903', '59768', '61214', '63919', '65704', '66602', '68056', '70986', '71778', '6233', '11332', '12180', '12690', '22803', '22974', '24776', '28008', '32278', '32441', '34062', '35062', '36726', '39946', '45894', '46792', '56885', '59507', '61835', '68329', '68560', '69890', '70082', '70820', '71076', '72072', '262', '6061', '8277', '16224', '18586', '26811', '31941', '39373', '40057', '42676', '43703', '45121', '45489', '45711', '49316', '50021', '50771', '53612', '63558', '65289', '66282', '68775', '69501', '69821', '71317', '2680', '4618', '6310', '6665', '6861', '7227', '11788', '12963', '18729', '21742', '22013', '23543', '28869', '30854', '32139', '35889', '39348', '41518', '43451', '44757', '50572', '52179', '54158', '54681', '54945', '56281', '57971', '63529', '64007', '64839', '66956', '71625', '2641', '5860', '7618', '9797', '9900', '15569', '17070', '19064', '27323', '32471', '33976', '35865', '40223', '41713', '42496', '47991', '55900', '56593', '58560', '67383', '71296', '9062', '15289', '28442', '32772', '32843', '34315', '34822', '38165', '39046', '44540', '45022', '49552', '55231', '55969', '64699', '71737', '9247', '10610', '10989', '12599', '12717', '13137', '16244', '19285', '20114', '22881', '27019', '29118', '32763', '34377', '36670', '37223', '42560', '45178', '47070', '47884', '49746', '54050', '56911', '63190', '63255', '63526', '65496', '66985', '68427', '69470', '69550', '70990', '71082', '71288', '72631', '1779', '6083', '6692', '6879', '8437', '16138', '19734', '21461', '25776', '26720', '26920', '29912', '32599', '39019', '40489', '45202', '56355', '61030', '61710', '62639', '62692', '63614', '64295', '66191', '71587', '2455', '7470', '7562', '10008', '12010', '14044', '14427', '17446', '22084', '25665', '26322', '26695', '31407', '31512', '32694', '33841', '35667', '38000', '38112', '39671', '39743', '46445', '46604', '47837', '52095', '52711', '53300', '59875', '61392', '64069', '66043', '68389', '70305', '1914', '1944', '7802', '11122', '12547', '15210', '22802', '24010'])